<li class="list-group-item">
  <%= link_to "#{teacher.name},
  #{t 'mobile'} #{teacher.mobile},
  #{t 'degree'} #{teacher.degree},
  #{t 'chat_count'} #{teacher.chats.count}",
              teacher %>
</li>
